body{
        display: flex;
        margin: 0;
        overflow-x: hidden;
    }

    .sidebar{
        position: fixed;
        overflow-x: hidden;
        background-color: #ededf8;
        height: 200%;
        width: 100px;
        border-right: 0.5px solid #000000;
    }


    .mainColumn{
        margin-left: 120px;
        width: 400px;
    }


    .titlefont{
        margin-left:0px;
        font-family: monospace;
        color: #131f42
    }

    .subtitlefont{
        margin-left:0%;
        font-family: monospace;
        color: #505a77
    }